@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0px;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.wrap-image {
  background: url("https://pixabay.com/get/g823fae540a7dfdc0d9e7571ff48a05df0dbfa6fba5e955d5627263bfa7e9601a7c7f1309063d8eed0d6c2c4ad3d29dd35812eb8c9fbd23c2f6c247fcc3f40bde_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-number {
  font-size: 4rem;
  color: #fff;
}
